* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


 header {
      background-image: url(./Images/lady-lifting_dumbells.jpg);
      background-repeat: no-repeat;
      width: 100%;
      background-size: 100%;
}

 header .logo-nav {
      display: flex;
      justify-content: space-evenly;
}

 header .logo-nav .logo {
      margin: 1% 0;
      width: 30%;
}

 header .logo-nav .logo img {
      width: 60%;
}

 header .logo-nav .nav {
      display: flex;
      justify-content: space-between;
      width: 30%;
      align-items: center;
}

 header .logo-nav .nav a {
      color: #ffffff;
      text-decoration: none;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}

 header .auth {
      width: 30%;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
}

 header .auth .sign-in {
      padding: 3% 7%;
      border-radius: 12px;
      border: none;
      background-color: #212738;
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
}

 header .auth .appoint {
      padding: 3% 15%;
      border-radius: 12px;
      border: none;
      background-color: #8EA604;
      color: #ffffff;
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
}

 header h2 {
      margin-top: 5%;
      color: #8EA604;
      font-family: Roboto;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
}

 header .header-text .head-text {
      color: white;
      font-size: 22px;
      font-family: Open Sans;
      font-weight: 400;
      word-wrap: break-word;
      width: 40%;
      margin: 1.8% 0;
      font-family: 'Open Sans', sans-serif;
}

 header .header-text .header-button {
      padding: 1% 2%;
      background-color: #8EA604;
      color: #FFFFFF;
      border-radius: 12px;
      border: none;
      font-size: 23;
      margin-bottom: 15%;
      margin-top: 1%;
}

main .obj-header{
      text-align: center;
      color: #819704;
      font-size: 35px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word;
      margin-top: 1.1%;
}

main .objective{
      display: flex;
      flex-direction: column;
      border: 2px solid yellowgreen;
}

main .objective .class-section1 {
      display: flex;
      justify-content: space-around;
      margin-top: 2%;

           
}

main .objective .class-section2 {
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
      margin-bottom: 2%; 
}

main .objective .class-section1 .obj-list{
      padding: 0.8% 2%;
      width: 17%;
      background-color: #212738;
      color: #8EA604;    
      font-size: 18px;
      font-family: Roboto;
      border-radius: 8px;
      border: 1px solid #212738;
      
}

main .objective .class-section2 .obj-list{
      padding: 0.8% 2%;
      width: 17%;
      background-color: #212738;
      color: #8EA604;
      font-size: 18px;
      font-family: Roboto;
      border-radius: 8px;
      border: 1px solid #212738;
      
}

main .objective .why-button{
      display: flex;
      justify-content: center;
      margin: 0.5% 0 2.8% 0;
      
}

main .objective .classes-button{
      padding: 0.8% 1.8%;
      background-color: #8EA604;
      color: #FFFFFF;
      border: 1px solid #8EA604;
      border-radius: 8px;
   
}

main .upcoming-class{
      display: flex;
      justify-content: center;
      width: 100%;
}

main .upcoming-class caption{
      color: #819704;
font-size: 35px;
font-family: Roboto;
font-weight: 700;
margin: 0 0 2% 0;
}

main .upcoming-class table{
      width: 95%;
}

main .upcoming-class table thead{
      background-color: black;
      color: #ffffff;
      padding: 2% 0;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word
}

main .upcoming-class table thead tr th{
      padding: 1.4% 0;
}

main .upcoming-class table tr td{
      text-align: center;
      
}

main .upcoming-class table tr td p{
      background-color: #8EA604;
      margin: 10% 4%;
      padding: 15% 10%;
      font-family: 'Roboto Slab', serif;
      font-size: 24px;

      
      
      
}

main .upcoming-class table tr td p span{
      color: #FFFFFF;
      font-size: 20px;

}

main .upcoming-class table, tr, td{
      border: 1px solid black;
      border-collapse: collapse;
}

main .inst-profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
}

main .inst-profile .prof .black-male, .black-female, .b-builder{
      width: 33.33;
}

main .inst-profile .black-male img{
      width: 100%;
      border: 1px solid sienna;
}

main .inst-profile .black-male p{
      z-index: 2;
      position: relative;
      top: 85%;
      text-align: center;
     
}

main .inst-profile .black-female p{
      z-index: 2;
      position: relative;
      top: 85%;
      text-align: center;
     
}

main .inst-profile .b-builder p{
      z-index: 2;
      position: relative;
      top: 85%;
      text-align: center;
     
}

main .inst-profile .b-builder .track{
      color: #ffffff;
      font-size: 22px;
font-family: Roboto;
}

main .inst-profile .black-male .track{
      color: #ffffff;
      font-size: 22px;
font-family: Roboto;
}

main .inst-profile .black-female .track{
      color: #ffffff;
      font-size: 22px;
font-family: Roboto;
}

main .inst-profile .b-builder .name{
      color: #8EA604;
      font-size: 20px;
font-family: Open Sans;
font-weight: 400;
}

main .inst-profile .black-male .name{
      color: #8EA604;
      font-size: 20px;
font-family: Open Sans;
font-weight: 400;
}

main .inst-profile .black-female .name{
      color: #8EA604;
      font-size: 20px;
font-family: Open Sans;
font-weight: 400;
}





main .inst-profile .black-female img{
      width: 100%;
}

main .inst-profile .b-builder img{
      width: 100%;
}

main .inst-profile h2{
text-align: center;
padding: 0.2% 0;
margin: 0.9% 0;
color: #1E2333;
font-size: 35px;
font-family: Roboto;
}

main .inst-profile .prof{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 3%;
      
}



main .instructors{
      display: flex;
      justify-content: space-evenly;  
      border: 100%;
}

main .instrucors .instructor1{
      width: 50%;
      
}

main .instructors .instructor1 p{
      background-color: #8EA604;
      width: 45%;
      text-align: center;
      color: #1E2333;
font-size: 31px;
font-family: Open Sans;
font-weight: 400;
}

main .instructors .instructor2 p{
      background-color: #8EA604;
}

main .instructors .instructor1  img{
      border-radius: 50%;
      width: 20%;
}

main .instructors .instructor2  img{
      border-radius: 30%;
}

footer{
      background-color: #212738;
      display: flex;
}

footer .sect-2{
      display: flex;
}

footer .sect-2 .footer-nav1, .footer-nav2{
      display: flex;
      flex-direction: column;
}

